* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    background-color: yellowgreen;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#timer {
    text-align: left;
    color: black;
}

#quizContainer {
    background-color: pink;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
}

#questionOne {
    font-size: 25px;
}

.btnSet {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    color: lightgoldenrodyellow;
    border: 1px solid black;
    background-color: grey;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 25px;
    
}

.timerClass {
    font-size: 20px;
}

.startBtn, .nextBtn {
    background-color: lightgoldenrodyellow;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    
}

.highScoreBtn {
    color: black;
    background-color: lightskyblue;
    font-weight: bold;
    float: left;
    font-size: 2rem;
    padding: 10px 20px;
    

}

/*.hide {
    display: none;
} */

